* {
	padding: 0;
	margin: 0;
}
body {
	padding: 0;
	margin: 0;
}

header {
	background: url(../img/cos01.jpg) no-repeat center top / cover;
	height: 800px;
}

footer {
	background-color: #a3afff;
	height: 90px;
}
